@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}
/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  width: 1300px;
  padding: 0 80px;
  /* margin: auto; */
}

.about .services {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.services .serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* ---NAVBAR--- */

/*ABOUT PAGE*/

.about {
  background: url(../assets/about/about_background.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  height: 50vh;
  width: 100vw;
}
/*About Section*/

.about h1 {
  font-size: 48px;
  font-weight: bold;
  font-size: 48px;
  margin-top: 15vh;
  font-family: "Poppins",sans-serif;
}
.about p {
  font-weight: 300;
  font-size: 16px;
  line-height: 170.5%;
  text-align: center;
  margin: 0 20% 0 20%;
  letter-spacing: 0.04em;
}

/*Goal Section*/

.goal {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  margin: -2% 5%;
}

.goal-div {
  padding: 2% 2%;
}

.goal-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.goal-heading h1 {
  font-size: 28px;
  font-weight: 600;
  margin-left: 20px;
}

/*Message section-this style is common to all section headings*/

#message {
  margin-top: -90px;
}

.message {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message-heading h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-top: -60px;
}
.message-heading p {
  font-weight: 300;
}

/*carasouel section*/

.team-carasouel {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-carasouel {
  padding: 0px 166px;
  padding: 100px 20px;
  position: relative;
}

.team-carasouel h1 {
  font-weight: 500;
  letter-spacing: 40px;
  font-size: 4.4rem;
  color: #e8e8e8;
  z-index: -1;
}

.imag {
  position: absolute;
  top: 40px;
  width: 200px;
  height: 200px;
}
.team-carasouel img {
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
}
.name {
  margin-top: 50px;
  color: #ff5c00;
  font-weight: 600;
  font-size: 1.1rem;
}

.team-carasouel p.description {
  padding: 20px 150px;
}

/*end of team carasouel*/

/*Partnerships section*/

.partner {
  background: #ff7b31;
  color: white;
  max-width: 100%;
  overflow: hidden;
}

/*Partnership carasouel*/

.owl-carousel.partner-image-div {
  margin-bottom: -250px;
}
.partner-image-div {
  background: #ff7b31;
}
.partner-image-div div {
  padding: 10px 40px;
}
.partner-image-div div img {
  width: 50%;
  height: 50%;
  margin: 20px 10px;
}

.partner-heading p {
  color: #ffffff;
}

/*Faculty section*/
.faculty {
  margin: 0px 166px;
}
.faculty-image-div {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  align-content: center;
}

.round-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7b31;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.faculty-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
}

.faculty-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.faculty-heading h3 {
  font-size: 18px;
  color: #1d1e1f;
  margin: 10px 0px;
}

.faculty-heading p {
  color: #1d1e1f;
}

/*facilities section*/
.facilities {
  max-width: 100vw;
  margin: -120px 166px 0px 166px;
  padding-bottom: 150px;
  border-bottom: 7px solid #ff7b31;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  min-height:fit-content;
}
.facilities button {
  border: none;
  outline: none;
  background: #ff7b31;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  align-self: flex-end;
  /* position: absolute; */
  padding: 0.2rem 0.4rem;
}

.facility-circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 230px;
  /* flex-wrap: wrap; */
}

.circle-div:nth-child(2){
  margin: 1rem 10.5rem;
}
.circle-div:nth-child(3){
  margin-right:10.5rem;
}
.facility-circle .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7b31;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  /* margin: 0px 60px 0px 0px; */
  z-index: 99;
}

.circle-div p {
  color: #ff7b31;
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
}

@media screen and (max-width: 1250px) {
  .facilities {
    border: none;
  }

  .facility-circle {
    flex-wrap:wrap;
    justify-content: center;
  }
  .circle-div:nth-child(2){
    margin:0px;
  }
  .circle-div:nth-child(3){
    margin-right:0rem;
  }
  .circle-div:nth-child(1),.circle-div:nth-child(3)
  {
    margin-right:8rem;
  }
  .circle-div:nth-child(2){
    margin-left:0rem 8rem;
  }
  

  .faculty {
    margin: 0% 5%;
  }
  .facilities button {
    align-self: center;
    top: -10px;
  }
  .circle-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .goal {
    flex-direction: column;
  }

  .partner-heading {
    max-width: 100%;
    padding: 0% 10%;
  }
  .team-carasouel {
    padding: 0% 10%;
  }

  .team-carasouel h1 {
    padding-top: 20px;
    letter-spacing: 10px;
    font-size: 2.2rem;
  }

  .imag {
    top: 10px;
    width: 100px;
    height: 100px;
  }

  .team-carasouel p.description {
    padding: 20px 5%;
  }

  .faculty {
    margin: 0% 10%;
  }
  .faculty-image-div {
    display: grid;
    grid-template-columns: 1fr;
  }

  .facilities {
    max-width: 100vw;
    margin: -20% 10% 0% 10%;
    border: none;
  }
  .facilities button {
    align-self: center;
    top: 0px;
  }
  /* .facility-circle {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */


  .circle {
    height: 90px;
    width: 90px;
    /* margin: 9px 9px; */
  }
}

@media screen and (max-width: 500px) {
  .about h1 {
    font-weight: bold;
    font-size: 30px;
  }
  #idpartner > h2 {
    font-size: larger;
  }
  #idpartner > p {
    margin-top: 5px;
    font-size: 11px;
    font-weight: bolder;
  }
  .facility-circle{
    justify-content: space-evenly;
  }
  .facility-circle .circle{
    width:105px;
    height: 105px;
  }
  .circle-div:nth-child(1),.circle-div:nth-child(3)
  {
    margin:0px;
  }
  .circle-div:nth-child(2){
    margin:0rem;
  }
  
}

@media screen and (max-width: 300px) {
  /* .facility-circle {
    grid-template-columns: 1fr;
  } */
}

/* CSS FOR NAVIGATION BUTTON OF CAROUSEL */
.customNextBtn {
  position: absolute;
  top: -350px;
  right: 40%;
}
.customPrevBtn {
  position: absolute;
  top: -330px;
  left: 92vw;
}
/* DOTS FOR CAROUSEL */
.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}
.owl-theme .owl-dots {
  text-align: center;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: orange;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
@media (max-width: 900px) {
  .facilitypage .facilitycards {
    margin: 0rem 5rem 0 5rem;
  }
}
@media (max-width: 500px) {
  .facilitypage .facilitycards {
    margin: 0rem 3rem 0 3rem;
  }
}
/* footer */
#footer {
  margin-top: 20%;
  background-color: #ff7b31;
  cursor: pointer;
  padding: 2rem;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;
}
#footer .footer-details .detail h1,
.important-links h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0.2rem;
  /* identical to box height */

  color: #424242;
}
.imp-links {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 1rem;
}
.social_footer_ul {
  margin-top: 0.5rem;
}
.footer-details {
  display: grid;
  justify-content: center;
}
.logo-text,
#footer-address {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 0.3rem;
  color: #ffffff;
}

#footer .footer-details .detail h2,
.important-links a {
  margin-bottom: 0.8rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
}
.important-links .imp-links dd {
  margin-top: 0.5rem;
}
#footer-logo {
  text-align: center;
}
#footer-logo .brand img {
  width: 30%;
}

#copyright-text {
  font-family: "Poppins";
  height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 41, 41);
  color: white;
  padding: 1.6rem;
  margin-bottom: 0px;
}
@media screen and (max-width: 800px) {
  #footer-logo {
    grid-column: 1/5;
  }
  .footer-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #footer-logo .brand img {
    width: 18%;
  }
  .footer-details {
    grid-column: 2/3;
  }
}
@media screen and (max-width: 500px) {
  #footer {
    padding: 2rem 1rem;
  }
  .footer-grid {
    display: block;
    text-align: center;
  }
  .footer-details {
    margin-top: 1rem;
  }
  #footer .detail {
    margin-top: 1rem;
  }
  .important-links {
    margin-top: 2rem;
  }
  #footer .footer-details .detail h2,
  .important-links a {
    font-size: 14px;
  }
  #footer-logo .brand img {
    width: 23%;
  }

  #footer-address {
    font-size: 14px;
  }

  #copyright-text {
    font-size: 14px;
  }
}

@media screen and (max-width:1000px)
{
  #footer{  
    margin-top:350px;
  }
}

/* footer */
footer ul {
  padding-left: 0;
}

a {
  text-decoration: none !important;
}
