@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}
/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  width: 1300px;
  padding: 0 80px;
  /* margin: auto; */
}

.about .services {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.services .serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* ---NAVBAR--- */

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.text-black {
  color: #fff;
}
.nav {
  z-index: 100;
  position: fixed;
  width: 100%;
}
.nav.sticky {
  background: #ff5c00;
}
.nav.sticky .social {
  color: #fff;
}
.nav .sticky .nav-items {
  color: #fff;
}

.nav .sticky .hover-underline-animation:after {
  background-color: rgb(167, 148, 148);
}

nav {
  padding: 0 10rem;
  position: relative;
  justify-content: space-between;
  height: 0rem;
  min-height: 13vh;
  overflow-y: hidden;
  transition: height 1s cubic-bezier(0.26, -0.01, 0, 1.01);
}

.nav-brand img {
  display: block;
}

nav .nav-items {
  list-style-type: none;
  margin: 0;
}

nav .nav-items .nav-link {
  padding: 1.3rem 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

nav .social {
  padding: 1.7rem 0;
  color: #fff;
  display: flex;
}

nav .social i {
  padding: 0 0.7rem;
  size: 10px;
}

nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 100%;
  cursor: pointer;
  display: none;
}

nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.4rem 1rem;
}

nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation:after {
  content: " ";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.collapse {
  height: 34rem;
}

/* creating own toggle icons  */
.icon,
.icon::before,
.icon::after {
  position: relative;
  width: 8px;
  border: 2px solid var(--text-gray);
  border-radius: 3rem;
  display: inline-block;
  transition: all 0.4s ease;
  transition-property: width, left;
}

.icon::before {
  content: " ";
  position: absolute;
  top: 5px;
  width: 20px;
  left: -18px;
}

.icon::after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -2px;
}

.toggle-click,
.toggle-click::before,
.toggle-click::after {
  width: 20px;
}

.toggle-click::before {
  left: -2px;
}

.about {
  display: flex;
  background: linear-gradient(rgba(20, 20, 20, 0.699), rgba(95, 94, 94, 0.034)),
    url(../assets/about/about_bg.png);

  height: 70vh;
  color: #fff;
  max-width: 100vw;
  background-size: 100% 70%;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

.aboutpage .heading {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% 10%;
  text-align: center;
}
.about .heading h1 {
  font-size: 48px;
  font-weight: 700px;
  color: #fafafa;
}
.about .heading p {
  font-weight: 16px;
  font-weight: 300;
  color: #ffffff;
}

.goal {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  margin: 0% 10%;
}

.goal-div {
  padding: 10px 30px;
}

.goal-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.goal-heading h1 {
  font-size: 28px;
  font-weight: 600;
  margin-left: 20px;
}

.message {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-carasouel {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message-heading h2 {
  font-size: 28px;
  font-weight: 600;
  margin-top: -60px;
}
.message-heading p {
  color: #777777;
  font-weight: 300;
}

.team-carasouel {
  padding: 0px 166px;
  padding: 100px 20px;
  position: relative;
}

.team-carasouel h1 {
  font-weight: 500;
  letter-spacing: 40px;
  font-size: 4.4rem;
  color: #e8e8e8;
}

.imag {
  position: absolute;
  top: 40px;
  width: 200px;
  height: 200px;
}
.team-carasouel img {
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
}
.name {
  margin-top: 50px;
  color: #ff5c00;
  font-weight: 600;
  font-size: 1.1rem;
}

.team-carasouel p.description {
  padding: 20px 150px;
}

.partner-image-div img {
  padding: 40px 80px 10px 80px;
}

.partner-heading p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}
.partner {
  background: #ff7b31;
  color: white;
}

.faculty {
  margin: 30px 166px;
}
.faculty-image-div {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.faculty-image {
  padding: 30px 20px;
}

.faculty-heading h3 {
  font-size: 18px;
  color: #343434;
  margin: 10px 0px;
}

.faculty-heading P {
  font-size: 14px;
  color: #343434;
}

.facilities {
  margin: 0px 166px;
  padding-bottom: 150px;
  border-bottom: 7px solid #ff7b31;
  position: relative;
}
button {
  border: none;
  outline: none;
  background: #ff7b31;
  width: 130px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  align-self: flex-end;
  position: absolute;
}
.facility-circle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 250px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7b31;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin: 0px 90px;
  z-index: 99;
}

.circle-div p {
  color: #ff7b31;
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
}

/* CSS FOR NAVIGATION BUTTON OF CAROUSEL */
.customNextBtn {
  position: absolute;
  top: -350px;
  right: 40%;
}
.customPrevBtn {
  position: absolute;
  top: -330px;
  left: 92vw;
}
/* DOTS FOR CAROUSEL */
.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}
.owl-theme .owl-dots {
  text-align: center;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: orange;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
@media (max-width: 900px) {
  .facilitypage .facilitycards {
    margin: 0rem 5rem 0 5rem;
  }
}
@media (max-width: 500px) {
  .facilitypage .facilitycards {
    margin: 0rem 3rem 0 3rem;
  }
}
