/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

/* ACADEMICS PAGE */
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  height: 50vh;
  width: 100vw;
  background-image: url(../assets/academics/backimg_academics.png);
}
.heading h1 {
  font-size: 48px;
  font-weight: bold;
  font-size: 48px;
}
.heading p {
  font-weight: 300;
  font-size: 16px;
  line-height: 170.5%;
  text-align: center;
  margin: 0 20% 0 20%;
  letter-spacing: 0.04em;
}
.section {
  margin-top: 80px;
}
.section .title {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-align: Center;
}
/* SUBHEADING FOR SECTION*/
.section p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;
}
/*carousel*/
.facilitycards {
  margin: 2rem 8rem 0 8rem;
}
/* CSS FOR INDIVIDUAL CARD IN CAROUSEL */
.facilitycards .facilitycard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 6px;
  margin: 1.5rem 0 0 0;
}
.facilitycard .imagecard {
  box-shadow: 0px 4px 20px rgba(142, 142, 142, 0.25);
}

.facilitycards .facilitycard .imagecard img {
  width: 368px;
  height: 264px;
}
.facilitycard p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 170.5%;
  /* or 27px */
  text-align: center;
  letter-spacing: 0.045em;

  color: #343434;
}
.facilitycard h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */

  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 2rem;
  color: #000000;
}

/* CSS FOR NAVIGATION BUTTON OF CAROUSEL */
.customNextBtn {
  position: absolute;
  top: 45%;
  right: 103%;
}
.customPrevBtn {
  position: absolute;
  top: 45%;
  left: 103%;
}
/* DOTS FOR CAROUSEL */
.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}
.owl-theme .owl-dots {
  text-align: center;
  margin-top: 1.5rem;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: orange;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
/* ELIGIBILITY SECTION */

ul {
  margin-top: 4%;
}
.points {
  margin: 0 10%;
}
ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 170.5%;
  /* or 27px */

  letter-spacing: 0.045em;

  color: #343434;
}

.points h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170.5%;
  /* or 31px */
  letter-spacing: 0.045em;
  margin-top: 1.5rem;
  color: #343434;
}

/* Document requirements */
.documentsreq .tablediv {
  margin: 4% 10% 0 10%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

td {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 170.5%;
  /* or 27px */
  letter-spacing: 0.045em;
  padding: 1rem;
  color: #343434;
}

th {
  padding: 1rem;
  text-align: left;
  background: #ff7b31;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170.5%;
  /* identical to box height, or 31px */

  letter-spacing: 0.05em;

  color: #ffffff;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
@media (max-width: 1000px) {
  .facilitycard h2 {
    font-size: 18px;
  }
  .facilitycard p {
    font-size: 14px;
    line-height: 130.5%;
    /* or 27px */
    margin-top: 0.5rem;
    text-align: center;
    letter-spacing: 0.045em;
    color: #343434;
  }
}

@media (max-width: 900px) {
  .facilitycards {
    margin: 0rem 5rem 0 5rem;
  }
}
@media (max-width: 500px) {
  .facilitycards {
    margin: 0rem 3rem 0rem 3rem;
  }
  .owl-theme .owl-dots {
    text-align: center;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 5px 4px;
  }
  .heading h1 {
    font-weight: bold;
    font-size: 30px;
  }
  .heading p {
    font-size: 14px;
  }
  .section {
    margin-top: 1.5rem;
  }
  .section .title {
    font-size: 20px;
  }
  .section p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  ul {
    margin-top: 1.5rem;
  }
  ul li {
    font-size: 14px;
    line-height: 130.5%;
  }

  .points h1 {
    font-size: 16px;
    line-height: 130.5%;
    margin-top: 1.5rem;
  }
  td {
    font-size: 14px;
  }
  th {
    font-size: 16px;
  }
}

/* footer */
#footer {
  margin-top: 4rem;
  background-color: #ff7b31;
  padding: 2rem;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;
}
#footer .footer-details .detail h1,
.important-links h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0.2rem;
  /* identical to box height */

  color: #424242;
}
.imp-links {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 1rem;
}
.social_footer_ul {
  margin-top: 0.5rem;
}
.footer-details {
  display: grid;
  justify-content: center;
}
.logo-text,
#footer-address {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 0.3rem;
  color: #ffffff;
}

#footer .footer-details .detail h2,
.important-links a {
  margin-bottom: 0.8rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
}
.important-links .imp-links dd {
  margin-top: 0.5rem;
}
#footer-logo {
  text-align: center;
}
#footer-logo .brand img {
  width: 30%;
}

#copyright-text {
  font-family: "Poppins";
  height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 41, 41);
  color: white;
  padding: 1.6rem;
  margin-bottom: 0px;
}
@media screen and (max-width: 800px) {
  #footer-logo {
    grid-column: 1/5;
  }
  .footer-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #footer-logo .brand img {
    width: 18%;
  }
  .footer-details {
    grid-column: 2/3;
  }
}
@media screen and (max-width: 500px) {
  #footer {
    padding: 2rem 1rem;
  }
  .footer-grid {
    display: block;
    text-align: center;
  }
  .footer-details {
    margin-top: 1rem;
  }
  #footer .detail {
    margin-top: 1rem;
  }
  .important-links {
    margin-top: 2rem;
  }
  #footer .footer-details .detail h2,
  .important-links a {
    font-size: 14px;
  }
  #footer-logo .brand img {
    width: 23%;
  }

  #footer-address {
    font-size: 14px;
  }

  #copyright-text {
    font-size: 14px;
  }
}

/* footer */
