/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.5s ease;
}
body {
    overflow-x: hidden;
  }

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: white;
    height: 50vh;
    width: 100vw;
    background-image: url(../assets/academics/backimg_academics.png);
  }
  .heading h1 {
    font-size: 48px;
    font-weight: bold;
    font-size: 48px;
  }
  .heading p {
    font-weight: 300;
    font-size: 16px;
    line-height: 170.5%;
    text-align: center;
    margin: 0 20% 0 20%;
    letter-spacing: 0.04em;
  }
  .section {
    margin-top: 80px;
  }

  /* HEADING FOR SECTION */
  .section .title {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: Center;
  }

  /* SUBHEADING FOR SECTION*/
  .section p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-align: center;
  }

  /* career page */
  .tagline{
      width:100%;
      font-size:16px;
      text-align: center;
      margin:3rem 0rem;
      font-family:"Poppins";
      color:#343434;
      padding:0px 10%;
  }
  /* table */
  .career-table{
      margin:2rem 10%;
  }
  .career-table-heading{
      box-sizing: border-box;
      padding:0.5rem 1.5rem;
      box-shadow: 1px 1px 2px 1px lightgrey;
      margin:2rem 0px;
      font-size:16px;
      font-family: "Poppins";
  }
  .career-table-heading:hover{
      color:white;
      background-color:#ff7b31;
  }
  .career-table table{
      width:100%;
      font-family: "Poppins";
      border: 1px solid #ddd;
      border-bottom: none;
      overflow-x: auto;
      overflow-wrap: anywhere;
  }
  .career-table table th{
    padding: 1rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170.5%;
    letter-spacing: 0.05em;
    border-bottom: 1px solid #ddd;;
    text-align:left;
  }
  .career-table table tr td{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 170.5%;
    letter-spacing: 0.045em;
    padding: 1rem;
    color: #343434;
    border-bottom: 1px solid #ddd;
  }

  /* important notes */
  .important-notes .title{
      text-align:left;
      margin:2rem 10%;
  }
  .important-notes ul{
      margin:0px 10%;
  }
  .important-notes ul li{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 170.5%;
    letter-spacing: 0.045em;
    color: #343434;
  }

  /* apply now button */
  .apply-now{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin:2rem 10%;
  }
  .apply-now button{
      border:none;
      outline:none;
      background-color: #ff7b31;
      color:white;
      font-size:16px;
      font-family: "Poppins";
      padding:0.8rem 1.2rem;
  }
  

  @media (max-width: 500px)
  {
      .tagline{
          font-size:14px;
      }
    .important-notes ul li {
        font-size: 14px;
        line-height: 130.5%;
    }
    .career-table table tr td {
        font-size: 14px;
      }
      .career-table table tr th {
        font-size: 16px;
      }
      .heading h1 {
        font-weight: bold;
        font-size: 30px;
      }
      .heading p {
        font-size: 14px;
      }
      .section {
        margin-top: 1.5rem;
      }
      .section .title {
        font-size: 20px;
      }
      .section p {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
      }
      .career-table-heading{
          font-size:14px;
      }
      .apply-now button{
          font-size:14px;
          padding:0.5rem 1rem;
      }
}

/* footer section */
#footer {
  margin-top: 2rem;
  background-color: #ff7b31;
  cursor: pointer;
  padding: 2rem;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;
}
#footer .footer-details .detail h1,
.important-links h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0.2rem;
  /* identical to box height */

  color: #424242;
}
.imp-links {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 1rem;
}
.social_footer_ul {
  margin-top: 0.5rem;
  padding-left:0px;
}
.footer-details {
  display: grid;
  justify-content: center;
}
.logo-text,
#footer-address {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 0.3rem;
  color: #ffffff;
}

#footer .footer-details .detail h2,
.important-links a {
  margin-bottom: 0.8rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
  text-decoration: none;
}
.important-links .imp-links dd {
  margin-top: 0.5rem;
}
#footer-logo {
  text-align: center;
}
#footer-logo .brand img {
  width: 30%;
}

#copyright-text {
  font-family: "Poppins";
  height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 41, 41);
  color: white;
  padding: 1.6rem;
  margin-bottom: 0px;
}
@media screen and (max-width: 800px) {
  #footer-logo {
    grid-column: 1/5;
  }
  .footer-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #footer-logo .brand img {
    width: 18%;
  }
  .footer-details {
    grid-column: 2/3;
  }
}
@media screen and (max-width: 500px) {
  #footer {
    padding: 2rem 1rem;
  }
  .footer-grid {
    display: block;
    text-align: center;
  }
  .footer-details {
    margin-top: 1rem;
  }
  #footer .detail {
    margin-top: 1rem;
  }
  .important-links {
    margin-top: 2rem;
  }
  #footer .footer-details .detail h2,
  .important-links a {
    font-size: 14px;
  }
  #footer-logo .brand img {
    width: 23%;
  }

  #footer-address {
    font-size: 14px;
  }

  #copyright-text {
    font-size: 14px;
  }
}

/* footer */