/* CHATBOX
=============== */
.chatbox {
  position: fixed;
  bottom: 30px;
  left: 10px;
  z-index: 3;

}

/* CONTENT IS CLOSE */
.chatbox__support {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.938);
  width: 330px;
  height: auto;
  z-index: -123456;
  padding: 1rem;
  opacity: 0;
  transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
  transform: translateY(-40px);
  transform: translateX(5px);
  z-index: 123456;
  opacity: 1;
  
}

/* BUTTON */
.chatbox__button {
  text-align: right;
  width: 110px;
  background-color: black;
  color: white; 
  border: none; 
  border-radius: 30px; 
  height: auto; 
  padding: 0.7rem;
  font-size: 1rem;
  margin-top: 5px;
}

.chatbox__support .m-list{
  background-color: rgba(8, 0, 0, 0.014);
  margin-bottom: -20px;
}

.chatbox__support .m-list p{
  color: white;
}

.chatbox__support .m-list a{
  text-decoration: none;
  color: orangered;

}

.chatbox .chatbox__support .cross img{ 
  width: 30px;
  height: 30px;
  position: absolute;
  left: 270px;
  top: 20px;
}