.nav {
  z-index: 100;
  position: fixed;
  width: 100%;
}
.nav.sticky {
  background: #ff5c00;
}
.nav.sticky .social {
  color: #fff;
}
.nav .sticky .nav-items {
  color: #fff;
}

.nav .sticky .hover-underline-animation:after {
  background-color: rgb(167, 148, 148);
}

nav {
  padding: 0 10rem;
  position: relative;
  justify-content: space-between;
  height: 0rem;
  min-height: 13vh;
  overflow-y: hidden;
  transition: height 1s cubic-bezier(0.26, -0.01, 0, 1.01);
}

.nav-brand img {
  display: block;
}

nav .nav-items {
  list-style-type: none;
  margin: 0;
}

nav .nav-items .nav-link {
  padding: 1.3rem 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

nav .social {
  padding: 1.7rem 0;
  color: #fff;
  display: flex;
}

nav .social i {
  padding: 0 0.7rem;
  size: 10px;
}

nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 100%;
  cursor: pointer;
  display: none;
}

nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.4rem 1rem;
}

nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation:after {
  content: " ";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.collapse {
  height: 34rem;
  background-color: #ff5c00;
}

/* creating own toggle icons  */
.icon,
.icon::before,
.icon::after {
  position: relative;
  width: 8px;
  border: 2px solid var(--text-gray);
  border-radius: 3rem;
  display: inline-block;
  transition: all 0.4s ease;
  transition-property: width, left;
}

.icon::before {
  content: " ";
  position: absolute;
  top: 5px;
  width: 20px;
  left: -18px;
}

.icon::after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -2px;
}

.toggle-click,
.toggle-click::before,
.toggle-click::after {
  width: 20px;
}

.toggle-click::before {
  left: -2px;
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
}

@media only screen and(max-width:800px) {
  .hover-underline-animation:after {
    background-color: #fff;
  }
  nav .nav-items {
    flex-direction: column;
  }
  nav {
    padding: 0;
    flex-direction: column !important;
    display: block !important;
  }
  nav .flex-row .collapse {
    padding-left: 0;
  }

  nav .toggle-collapse {
    display: initial;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  nav .nav-items {
    flex-direction: column;
  }
  nav {
    padding: 0;
    flex-direction: column !important;
    display: block !important;
  }
  nav .flex-row .collapse {
    padding-left: 0;
  }

  nav .toggle-collapse {
    display: initial;
  }
}

@media (max-width: 500px) {
  .hover-underline-animation:after {
    background-color: #fff;
  }
  nav .nav-items {
    flex-direction: column;
  }
  nav {
    padding: 0;
    flex-direction: column !important;
    display: block !important;
  }
  nav .flex-row .collapse {
    padding-left: 0;
  }

  nav .toggle-collapse {
    display: initial;
  }
}

/* CONTACT PAGE */
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  height: 50vh;
  width: 100vw;
  background-image: url(../assets/academics/backimg_academics.png);
}
.heading h1 {
  font-size: 48px;
  font-weight: bold;
  font-size: 48px;
}
.heading p {
  font-weight: 300;
  font-size: 14px;
  line-height: 170.5%;
  text-align: center;
  margin: 0 20% 0 20%;
  letter-spacing: 0.04em;
}
.section {
  margin-top: 80px;
}

/* HEADING FOR SECTION */
.section .title {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-align: Center;
}

/* SUBHEADING FOR SECTION*/
.section p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;
  margin-top: 1rem;
}

/* CONTACT SECTION */
.contact-details {
  display: flex;
  align-items: center;
  background-color: lightgrey;
  flex-wrap: wrap;
}
.contact-info {
  width: 400px;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}
.map {
  flex-basis: 50%;
}
.map iframe {
  width: 100%;
}
.contact-info h2 {
  font-size: 28px;
  margin: 0.5rem 0rem;
}
.contact-info p {
  font-size: 18px;
  margin-bottom: 0.8rem;
}
.location,
.email,
.phone {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}
.phone p {
  margin: 0px;
}
.location i,
.email i,
.phone i {
  font-size: 1.5rem;
  margin: 0px 1rem 0px 0px;
}

@media screen and (max-width: 500px) {
  .heading {
    height: fit-content;
    padding-top: 60px;
  }
  .heading h1 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: auto 8%;
  }
  .heading p {
    font-size: 14px;
    margin: 5%;
  }
  .section .title {
    font-size: 20px;
  }
  .section p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  .map {
    flex-basis: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .contact-info h2 {
    font-size: 20px;
  }
  .contact-info p {
    font-size: 16px;
  }
}
