/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

/* home section styling */
.home {
  display: flex;
  background: linear-gradient(rgba(20, 20, 20, 0.699), rgba(20, 20, 20, 0.582)),
    url(../assets/home/menu.png);
  height: 100vh;
  color: #fff;
  min-height: 600px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}
.home-content {
  margin-top: 10%;
}

.home .max-width {
  /* width: 500px; */
  display: flex;
}
.home .max-width .row {
  margin-right: 0;
}
.home .home-content .text-1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: left;
}
.home .home-content .text-2 {
  font-size: 48px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
}

.home .home-content a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  padding: 11px 22px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 40px;
  border: 2px solid #fff;
  transition: all 0.3s ease;
  font-family: Poppins;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0em;
}
.home .home-content a:hover {
  background-color: #ff7b31;
  border: 2px solid #ff7b31;
  color: #fff;
}

/*ABOUT PAGE*/

.about-content .right img {
  height: 100%;
  width: 100%;
  min-width: none;
  object-fit: cover;
}
.right {
  display: grid;

  padding: 0px 100px;
}
.strip1 {
  width: 207px;
  height: 8px;
  background-color: #ff7b31;
  justify-self: end;
}
.strip2 {
  width: 207px;
  height: 8px;
  background-color: #ff7b31;
  float: left;
  margin-top: 12px;
}

.about-content {
  display: grid;

  grid-template-columns: 0.7fr 1fr;
  padding-left: 9rem;
  justify-content: center;
  align-items: center;
}

.about-content .left .text p {
  /* padding-right: 5px; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #343434;
}
.about-content .left .text h1 {
  font-size: 28px;
  padding-right: 5px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-style: normal;

  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
}

.about-content .left p {
  text-align: justify;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 3px;
  font-family: "Poppins", sans-serif;
}
.about-content .left a {
  display: inline-block;
  color: #ff7b31;
  font-size: 14px;
  font-weight: 300;
  padding: 11px 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  border: 2px solid #ff7b31;
  transition: all 0.3s ease;
}
.about-content .left a:hover {
  border: 2px solid #ff7b31;
  background-color: #ff7b31;
  color: #fff;
}

/* Course section styling */
.outer-wrap .title {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-align: Center;
}
.outer-wrap .cent {
  float: center;
}
.outer-wrap .cent a {
  display: inline-block;
  color: #ff7b31;
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 46px;
  font-family: "Poppins", sans-serif;
  border: 2px solid #ff7b31;
  transition: all 0.3s ease;
}

.outer-wrap .cent a:hover {
  border: 2px solid #ff7b31;
  background-color: #ff7b31;
  color: #fff;
}

.outer-wrap p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;
}

.cards p {
  margin-bottom: 1.4em;
  font-family: "Poppins", sans-serif;
  color: #343434;
  text-align: left;
}
.cards h2 {
  color: #222222;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.thumbnail img {
  width: 100%;
  border-radius: 6px;
}
.triangle {
  position: absolute;
  height: 85px;
  width: 100%;
  border-radius: 0px;
  z-index: 1;
  transform: translateY(-100%);
  background-color: #ff7d31bd;
  clip-path: polygon(0 29%, 0% 100%, 100% 100%);
}

/* Card Based Layout - Base styles */

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  margin: 1.5rem 0;
  height: 100%;
  width: 100%;
}
.cards {
  margin: 0 8rem 0 8rem;
}
.card a {
  color: black;
  text-decoration: none;
}

.card a:hover {
  box-shadow: 0px 0px 13px 2px rgba(89, 89, 89, 0.25);
  transition: all 0.4s;
}

.card-content {
  padding: 0.9em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 16px;
}

.card-content p {
  font-size: 14px;
}

.cards .card .card-content button {
  display: inline-block;
  color: #ff7b31;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  /* margin-top: 20px; */
  margin-bottom: 12px;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  border: 2px solid #ff7b31;
  transition: all 0.3s ease;
}
.cards .card .card-content button:hover {
  border: 2px solid #ff7b31;
  background-color: #ff7b31;
  color: #fff;
}
@media (max-width: 900px) {
  .cards {
    margin: 0rem 5rem 0 5rem;
  }
}
@media (max-width: 500px) {
  .cards {
    margin: 0rem 3rem 0 3rem;
  }
}

/* Flexbox */
@media screen and (min-width: 50em) {
  .hover-underline-animation:after {
    background-color: #fff;
  }
}

/*------------Know Us More Section CSS---------------*/

.know_more {
  background: url(../assets/home/know_us_more.png), rgba(0, 0, 0, 0.37);
}
#know_more_us {
  padding: 0.9rem 1.2rem;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

#know_more_us h2 {
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 20px 0px;
}
#know_more_us p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 0px 90px;
}

.know_more #know_more_us .cent {
  text-align: center;
}
.know_more #know_more_us .cent a {
  display: inline-block;
  color: #ff7b31;
  background-color: #fff;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
  padding: 11px 22px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  border: 1px solid #ff7b31;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.know_more #know_more_us .cent a:hover {
  border: 2px solid #ff7b31;
  background-color: #ff7b31;
  color: #fff;
}

/*WHY GNIHM*/
.why {
  padding: 4rem 8rem 4rem 8rem;
  background-color: #ff7b31;
}
.why .titl {
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  color: #fff;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-align: center;
}

.why p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  color: #fff;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper-1 {
  margin-top: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
}

.wrapper-2 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.sub-wrap-right h3 {
  font-size: 14px;
  /* padding-right: 5px; */
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #000;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.sub-wrap-right .txt h1 {
  font-size: 18px;
  /* padding-right: 5px; */
  color: #fff;
  font-weight: 600;
  margin-bottom: 1%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
@media (max-width: 1185px) {
  .wrapper-2 {
    display: block;
    text-align: center;
  }
}
@media (max-width: 790px) {
  .wrapper-1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .why {
    padding: 4rem 5rem 4rem 5rem;
  }
}
@media (max-width: 500px) {
  .why {
    padding: 4rem 3rem 4rem 3rem;
  }
  .wrapper-1 {
    grid-template-columns: 1fr;
  }
}

/* virtual campus tour section */
.campus .title {
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: center;
}
.cent {
  text-align: center;
}
.campus .cent a {
  display: inline-block;
  color: #ff7b31;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  border: 2px solid #ff7b31;
  transition: all 0.3s ease;
}

.campus .cent a:hover {
  border: 2px solid #ff7b31;
  background-color: #ff7b31;
  color: #fff;
}

.campus p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;
}

.campus .campuscards {
  margin: 2rem 8rem 0 8rem;
}
.campus .campuscards .campuscard img {
  width: 322px;
  height: 320px;
  transition: transform 0.2s;
}

.campus .campuscards .campuscard img:hover {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  transform: scale(1.5);
}
.campus .campuscards .campuscard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(142, 142, 142, 0.25);
  border-radius: 6px;
  height: 100%;
  width: 100%;
}
@media (max-width: 900px) {
  .campus .campuscards {
    margin: 2rem 5rem 0 5rem;
  }
}
@media (max-width: 500px) {
  .campus .campuscards {
    margin: 2rem 3rem 0 3rem;
  }
}

/* AWARDS AND NEWS SECTION */
.news {
  width: 50vw;
}
/*carousel*/
.newscards {
  margin: 2rem 8rem 0 8rem;
}
/* CSS FOR INDIVIDUAL CARD IN CAROUSEL */
.newscards .newscard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  margin: 1.5rem;
  padding: 3rem;
  box-shadow: 0px 0px 13px 2px rgba(89, 89, 89, 0.25);
  border-radius: 6px;
}

.newscards .newscard img {
  width: 402.66px;
  height: 212.14px;
}
.newscard p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170.5%;
  /* or 24px */
  margin-top: 1%;
  text-align: center;
  letter-spacing: 0.04em;

  color: #6c6c6c;
}
.newscard h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-top: 5%;
  /* identical to box height, or 21px */
  color: #212121;
}

/* CSS FOR NAVIGATION BUTTON OF CAROUSEL */
.customNextBtn {
  position: absolute;
  top: 45%;
  right: 103%;
}
.customPrevBtn {
  position: absolute;
  top: 45%;
  left: 103%;
}
/* DOTS FOR CAROUSEL */
.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}
.owl-theme .owl-dots {
  text-align: center;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: orange;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

/* testimonial */
.common-head {
  font-family: "Poppins";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: center;
}
.common-subhead {
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;
}
.testimonialcards {
  margin: 2rem 8rem 0 8rem;
}
/* CSS FOR INDIVIDUAL CARD IN CAROUSEL */
.testimonialcards .testimonialcard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 6px;
  margin: 1.5rem 0;
  height: 320px;
  width: 100%;
}
.img-div {
  position: relative;
  width: 100%;
  height: 60%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonialcards .testimonialcard #face {
  width: 114px !important;
  height: 114px;
  border-radius: 50% 50%;
}

.img-div #bckstyle {
  position: absolute;
  z-index: -1;
  width: 180px;
  height: 150px;
}

.testimonialcards .testimonialcard h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  color: #343434;
}
.testimonialcard p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170.5%;
  /* or 24px */
  margin-top: 1%;
  width: 90%;
  text-align: center;
  letter-spacing: 0.04em;

  color: #343434;
}

/* DOTS FOR CAROUSEL */
.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}

@media (max-width: 900px) {
  .testimonialcards {
    margin: 0rem 5rem 0 5rem;
  }
}
@media (max-width: 500px) {
  .testimonialcards {
    margin: 0rem 3rem 0 3rem;
  }
}

/* gallery */
.gallery-section {
  margin: 2rem 8rem;
}
.gallery {
  margin-top: 3rem;
  display: flex;
  padding: 2px;
  transition: 0.3s;
}

.gallery__column {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.gallery__link {
  margin: 2px;
  overflow: hidden;
}

.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__thumb {
  position: relative;
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.gallery__image:hover {
  transform: scale(1.1);
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}
@media (max-width: 900px) {
  .gallery-section {
    margin: 0rem 5rem 0 5rem;
  }
}
@media (max-width: 500px) {
  .gallery-section {
    margin: 0rem 1rem 0 1rem;
  }
}

/* alumni section */

.alumnicards {
  margin: 2rem 8rem 0 8rem;
}
/* CSS FOR INDIVIDUAL CARD IN CAROUSEL */
.alumnicards .alumnicard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ff7b31;
  padding: 4%;
  border-radius: 6px;
  margin: 1.5rem 0;
  height: 100%;
  width: 100%;
}

.alumnicard h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  color: #343434;
}
.alumnicard p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170.5%;
  /* or 24px */
  margin-top: 1%;
  width: 90%;

  letter-spacing: 0.04em;

  color: #343434;
}
.maingrid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.maingrid .profile img {
  width: 143px !important ;
  height: 143px;
  border-radius: 50%;
}
.maingrid .profile h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  margin-top: 1rem;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  text-align: center;
  color: #ffffff;
}

.maingrid .story h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;

  /* identical to box height, or 26px */

  text-transform: uppercase;

  color: #ffffff;
}
.maingrid .story p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 141.5%;
  letter-spacing: 0.04em;
  color: white;
}
@media (max-width: 900px) {
  .alumnicards {
    margin: 0rem 5rem 0 5rem;
  }
}
@media (max-width: 500px) {
  .alumnicards {
    margin: 0rem 3rem 0 3rem;
  }
  .maingrid .story p {
    font-size: 14px;
  }
  .maingrid .story h1 {
    font-size: 16px;
    margin: 0.5rem 0;
  }
}
@media (max-width: 1250px) {
  .maingrid {
    display: block;
    text-align: center;
  }
  .alumnicard p {
    width: 100%;
  }
  .maingrid .story {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* placement section */

.placementcards {
  margin: 2rem 8rem 0 8rem;
}
/* CSS FOR INDIVIDUAL CARD IN CAROUSEL */
.placementcards .placementcard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  margin: 1.5rem 0;
  height: 100%;
  width: 100%;
}
.placementcard img {
  height: 100px;
  width: 50% !important;
}
@media (max-width: 900px) {
  .placementcards {
    margin: 2rem 5rem 0 5rem;
  }
}
@media (max-width: 500px) {
  .placementcards {
    margin: 1rem 3rem 0 3rem;
  }
}

/*--------------------------Responsive media query-------------------------------*/

@media (max-width: 1322px) {
  .strip1,
  .strip2 {
    display: none;
  }
}

@media (max-width: 1104px) {
  .campus .campuscards .campuscard img:hover {
    box-shadow: none;
    transform: scale(1);
  }
  .about-content {
    margin: 2rem 8rem 0rem 8rem;
    grid-template-columns: 1fr;
    padding-left: 0;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .about-content .left .text h1 {
    text-align: center;
  }

  .about-content .left p {
    text-align: center;
  }
  .cen {
    text-align: center;
  }

  .strip1,
  .strip2 {
    display: none;
  }

  .right {
    justify-self: center;
    grid-row: 1;
    padding: 0;
  }

  .about-content .column img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 900px) {
  .about-content {
    margin: 0rem 5rem 0 5rem;
  }
}
@media (max-width: 500px) {
  .about-content {
    margin: 0rem 3rem 0 3rem;
  }
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
  .strip1,
  .strip2 {
    display: none;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }

  .home .home-content .text-2 {
    font-size: 28px;
  }
  .home .home-content .text-3 {
    font-size: 28px;
  }
  .home .home-content a {
    font-size: 16px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about-content .column {
    width: 100%;
  }
  .about-content .right {
    display: flex;
    justify-content: center;
  }
  .about-content .left {
    flex: 100%;
  }
  .strip1,
  .strip2 {
    display: none;
  }
}

@media only screen and(max-width:800px) {
  .hover-underline-animation:after {
    background-color: #fff;
  }
  nav .nav-items {
    flex-direction: column;
  }
  nav {
    padding: 0;
    flex-direction: column !important;
    display: block !important;
  }
  nav .flex-row .collapse {
    padding-left: 0;
  }

  nav .toggle-collapse {
    display: initial;
  }
  .strip1,
  .strip2 {
    display: none;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  nav .nav-items {
    flex-direction: column;
  }
  nav {
    padding: 0;
    flex-direction: column !important;
    display: block !important;
  }
  nav .flex-row .collapse {
    padding-left: 0;
  }

  nav .toggle-collapse {
    display: initial;
  }

  .home .home-content .text-2 {
    font-size: 28px;
  }
  .home .home-content .text-3 {
    font-size: 28px;
  }
  .home .home-content a {
    font-size: 28px;
  }
  .strip1,
  .strip2 {
    display: none;
  }
}

@media (max-width: 500px) {
  .hover-underline-animation:after {
    background-color: #fff;
  }
  .title {
    text-align: center;
    padding: 0 4px;
  }
  .home .home-content .text-2 {
    font-size: 30px;
    line-height: 36px;
  }
  .home .home-content .text-3 {
    font-size: 20px;
  }
  .home .home-content a {
    font-size: 14px;
  }
  nav .nav-items {
    flex-direction: column;
  }
  nav {
    padding: 0;
    flex-direction: column !important;
    display: block !important;
  }
  nav .flex-row .collapse {
    padding-left: 0;
  }

  nav .toggle-collapse {
    display: initial;
  }

  .right {
    grid-row: 1;
    padding-left: 0;
  }

  .about-content {
    grid-template-columns: 1fr;
    padding-left: 0;
  }
  .strip1,
  .strip2 {
    display: none;
  }

  .about-content .column {
    padding: 0px 4px;
  }
  .about-content .left {
    padding: 0px 30px;
  }
  .about-content .column img {
    width: 300px;
    height: 300px;
  }

  .about-content .left .text h1 {
    text-align: center;
    font-size: 20px;
    line-height: 26px;
  }
  .about-content .left p {
    font-size: 14px;
    text-align: center;
    padding: 0px 4px;
  }
  .about-content .left a {
    font-size: 14px;
  }
  .cen {
    text-align: center;
  }
  .right form .error-box {
    width: 150px;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 20px;
    line-height: 38px;
  }

  #know_more_us p {
    margin: 0px 20px;
    font-size: 14px;
    line-height: 22px;
  }
  #know_more_us h2 {
    font-size: 20px;
  }
  .know_more #know_more_us .cent a {
    font-size: 14px;
  }
  .common-head {
    font-size: 20px;
  }
  .common-subhead {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .campus p {
    font-size: 14px;
  }
  .campus .title {
    font-size: 20px;
  }
  .campus .campuscards .campuscard img {
    padding-bottom: 2rem;
  }
}

.about-section,
.academy,
.knowmore,
.campus,
.testimonial,
.gallery-section,
.alumni-stories,
.placement {
  margin-top: 80px;
}
.know_more {
  margin-top: 80px;
  padding: 5%;
}
/* footer css */

footer {
  margin-top: 4rem;
}
footer .upperfooter {
  padding: 3rem 2rem 0 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/home/footerbck.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}
.call,
.mail {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.upperfooter p,
h2,
h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #6c6c6c;
}
.upperfooter p {
  width: 50%;
}
footer .lowerfooter {
  padding: 4rem 4rem 2rem 4rem;
  background-color: #ff7b31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lowerfooter .icontray {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icontray h1 {
  color: white;
  margin-bottom: 50%;
}
.lowerfooter .footer-site-links1 {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1% 4%;
  justify-content: center;
}
.lowerfooter .footer-site-links2 {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1% 4%;
  justify-content: center;
}
.footer-site-links1 a,
.footer-site-links2 a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
}
footer .lowerfooter .copyright-text h1 {
  margin-top: 2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #ffffff;
}
@media (max-width: 600px) {
  .upperfooter p {
    width: 80%;
  }
  .contacts {
    display: block;
  }
  .upperfooter p,
  h2,
  h3 {
    font-size: 14px;
  }
  footer .lowerfooter {
    padding: 2rem 4rem 2rem 4rem;
  }
  .lowerfooter .footer-site-links1 {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem 1rem;
  }
  .lowerfooter .footer-site-links2 {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem 1rem;
  }
  .lowerfooter .footer-site-links2 a {
    margin-right: 1.7rem;
  }
  .footer-site-links1 a,
  .footer-site-links2 a {
    font-size: 14px;
  }
}
