/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
/* all similar content styling codes */

.max-width {
  width: 1300px;
  padding: 0 80px;
  /* margin: auto; */
}

.about .services {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.services .serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* ---NAVBAR--- */

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.text-black {
  color: #fff;
}
.nav {
  z-index: 100;
  position: fixed;
  width: 100%;
}
.nav.sticky {
  background: #ff5c00;
}
.nav.sticky .social {
  color: #fff;
}
.nav .sticky .nav-items {
  color: #fff;
}

.nav .sticky .hover-underline-animation:after {
  background-color: rgb(167, 148, 148);
}

nav {
  padding: 0 10rem;
  position: relative;
  justify-content: space-between;
  height: 0rem;
  min-height: 13vh;
  overflow-y: hidden;
  transition: height 1s cubic-bezier(0.26, -0.01, 0, 1.01);
}

.nav-brand img {
  display: block;
}

nav .nav-items {
  list-style-type: none;
  margin: 0;
}

nav .nav-items .nav-link {
  padding: 1.3rem 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

nav .social {
  padding: 1.7rem 0;
  color: #fff;
  display: flex;
}

nav .social i {
  padding: 0 0.7rem;
  size: 10px;
}

nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 100%;
  cursor: pointer;
  display: none;
}

nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.4rem 1rem;
}

nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation:after {
  content: " ";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.collapse {
  height: 34rem;
  background-color: #ff5c00;
}

/* creating own toggle icons  */
.icon,
.icon::before,
.icon::after {
  position: relative;
  width: 8px;
  border: 2px solid var(--text-gray);
  border-radius: 3rem;
  display: inline-block;
  transition: all 0.4s ease;
  transition-property: width, left;
}

.icon::before {
  content: " ";
  position: absolute;
  top: 5px;
  width: 20px;
  left: -18px;
}

.icon::after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -2px;
}

.toggle-click,
.toggle-click::before,
.toggle-click::after {
  width: 20px;
}

.toggle-click::before {
  left: -2px;
}

/*------------------------------HOME PAGE---------------------------------*/
/* home section styling */
.home {
  display: flex;
  background: linear-gradient(rgba(20, 20, 20, 0.699), rgba(20, 20, 20, 0.582)),
    url(../assets/home/menu.png);

  height: 100vh;
  color: #fff;
  min-height: 600px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

.home .max-width {
  /* width: 500px; */
  display: flex;
}
.home .max-width .row {
  margin-right: 0;
}
.home .home-content .text-1 {
  font-size: 14px;
  margin-top: 12px;
}
.home .home-content .text-2 {
  font-size: 48px;
  font-weight: 500;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: #92e8fb;
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  padding: 11px 22px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 40px;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  background-color: #ff7b31;
  border: 2px solid #ff7b31;
  color: #fff;
}

/*Responsive media query*/

@media (max-width: 1104px) {
  .about-content .right img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
}

@media only screen and(max-width:800px) {
  .hover-underline-animation:after {
    background-color: #fff;
  }
  nav .nav-items {
    flex-direction: column;
  }
  nav {
    padding: 0;
    flex-direction: column !important;
    display: block !important;
  }
  nav .flex-row .collapse {
    padding-left: 0;
  }

  nav .toggle-collapse {
    display: initial;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  nav .nav-items {
    flex-direction: column;
  }
  nav {
    padding: 0;
    flex-direction: column !important;
    display: block !important;
  }
  nav .flex-row .collapse {
    padding-left: 0;
  }

  nav .toggle-collapse {
    display: initial;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .hover-underline-animation:after {
    background-color: #fff;
  }
  .title {
    text-align: center;
    padding: 0 4px;
  }
  .home .home-content .text-2 {
    font-size: 38px;
  }
  .home .home-content .text-3 {
    font-size: 25px;
  }
  .home .home-content a {
    font-size: 14px;
  }
  nav .nav-items {
    flex-direction: column;
  }
  nav {
    padding: 0;
    flex-direction: column !important;
    display: block !important;
  }
  nav .flex-row .collapse {
    padding-left: 0;
  }

  nav .toggle-collapse {
    display: initial;
  }

  .right {
    grid-row: 1;
    padding-left: 0;
  }

  .strip1,
  .strip2 {
    display: none;
  }
  .about-content .left .text {
    font-size: 19px;
    text-align: center;
  }
  .right form .error-box {
    width: 150px;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}

/*------------Know Us More Section CSS---------------*/
.know_more {
  background: url(../assets/home/know_us_more.png), rgba(0, 0, 0, 0.37);
}
#know_more_us {
  padding: 0.9rem 1.2rem;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

#know_more_us h2 {
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 20px 0px;
}
#know_more_us p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

.know_more #know_more_us .cent {
  text-align: center;
}
.know_more #know_more_us .cent a {
  display: inline-block;
  color: #ff7b31;
  background-color: #fff;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
  padding: 11px 22px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  border: 1px solid #ff7b31;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.know_more #know_more_us .cent a:hover {
  border: 2px solid #ff7b31;
  background-color: #ff7b31;
  color: #fff;
}

.campus .title {
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: center;
}
.cent {
  text-align: center;
}
.campus .cent a {
  display: inline-block;
  color: #ff7b31;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  border: 2px solid #ff7b31;
  transition: all 0.3s ease;
}

.campus .cent a:hover {
  border: 2px solid #ff7b31;
  background-color: #ff7b31;
  color: #fff;
}

.campus p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;
}

.campus .campuscards {
  margin: 2rem 8rem 0 8rem;
}
.campus .campuscards .campuscard img {
  width: 322px;
  height: 359.78px;
}
.campus .campuscards .campuscard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(142, 142, 142, 0.25);
  border-radius: 6px;
  height: 320px;
  width: 100%;
}
@media (max-width: 900px) {
  .campus .campuscards {
    margin: 5rem 5rem;
  }
}
@media (max-width: 500px) {
  .campus .campuscards {
    margin: 5rem 5rem;
  }
  .campus p {
    font-size: 14px;
  }
  .campus .title {
    font-size: 20px;
  }
}
/* CSS FOR FACILITIES PAGE */

/* HEADING OF EVERYPAGE ALONG WITH IMAGE */
.facilitypage .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  height: 50vh;
  width: 100vw;
  background-image: url(../assets/Facilities/backimg_facilities.png);
}
.facilitypage .heading h1 {
  font-size: 48px;
  font-weight: bold;
  font-size: 48px;
}
.facilitypage .heading p {
  font-weight: 300;
  font-size: 16px;
  line-height: 170.5%;
  text-align: center;
  margin: 0 20% 0 20%;
  letter-spacing: 0.04em;
}

/* CSS FOR CAROUSEL */
.facilitypage .facilitycards {
  margin: 2rem 8rem 0 8rem;
}
/* CSS FOR INDIVIDUAL CARD IN CAROUSEL */
.facilitypage .facilitycards .facilitycard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 4px 20px rgba(142, 142, 142, 0.25);
  border-radius: 6px;
  margin: 1.5rem 0;
  height: 320px;
  width: 100%;
}

.facilitypage .card1 {
  border-bottom: 8px solid #e55504;
}

.facilitypage .facilitycards .facilitycard img {
  width: 192.49px;
  height: 155px;
}
.facilitypage .facilitycards .facilitycard h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */

  letter-spacing: 0.02em;
  margin-top: 2rem;
  color: #000000;
}

/* CSS FOR NAVIGATION BUTTON OF CAROUSEL */
.customNextBtn {
  position: absolute;
  top: 45%;
  right: 103%;
}
.customPrevBtn {
  position: absolute;
  top: 45%;
  left: 103%;
}
/* DOTS FOR CAROUSEL */
.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}
.owl-theme .owl-dots {
  text-align: center;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: orange;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
@media (max-width: 900px) {
  .facilitypage .facilitycards {
    margin: 0rem 5rem 0 5rem;
  }
}
@media (max-width: 500px) {
  .facilitypage .facilitycards {
    margin: 0rem 3rem 0 3rem;
  }
}
